server: # REST and WS server
  port: 2333
  address: 0.0.0.0
spring:
  main:
    banner-mode: log
lavalink:
  plugins:
  # Replace VERSION with the current version as shown by the Releases tab or a long commit hash for snapshots.
  - dependency: "dev.lavalink.youtube:youtube-plugin:1.5.1"
    snapshot: false # Set to true if you want to use a snapshot version.
  server:
    password: "youshallnotpass"
    sources:
      youtube: false
      bandcamp: true
      soundcloud: true
      twitch: true
      vimeo: true
      mixer: true
      http: true
      local: false
    bufferDurationMs: 400
    youtubePlaylistLoadLimit: 6 # Number of pages at 100 each
    youtubeSearchEnabled: true
    soundcloudSearchEnabled: true
    gc-warnings: true

youtube:
  enabled: true
  allowSearch: true
  allowDirectVideoIds: true  
  allowDirectPlaylistIds: true  
  clients:
    - MUSIC
    - WEB
    - TVHTML5EMBEDDED
    - IOS
    - MEDIA_CONNECT
  WEB:
    playback: true
  TVHTML5EMBEDDED:
    playlistLoading: true 
    videoLoading: true
    searching: true

metrics:
  prometheus:
    enabled: false
    endpoint: /metrics

sentry:
  dsn: ""
#  tags:
#    some_key: some_value
#    another_key: another_value

logging:
  file:
    max-history: 10
    max-size: 100MB
  path: ./logs/

  level:
    root: INFO
    lavalink: INFO
